<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="this apps is created with love and justice" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="shortcut icon" href="./assets/icons/restaurant.webp" type="image/x-icon" />
    <meta name="theme-color" content="#DB0000" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon-180x180.png" />
    <title>Restaurant Apps Lite</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header>
      <app-bar></app-bar>
    </header>
    <div class="container" id="jumbotron"></div>
    <div id="loader" aria-label="pre-loader"></div>
    <main id="content" tabindex="0">
      <h2>Explore Restaurant</h2>
    </main>
    <footer class="footer">
      <p class="footer copyright">Copyright &copy; <span id="name-app"></span></p>
    </footer>
  </body>
  <script>
    const nameApp = '-Hunger Apps';
    const spanNameApp = document.getElementById('name-app');
    spanNameApp.innerHTML = new Date().getFullYear() + nameApp;
  </script>
</html>
