<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="shortcut icon" href="../../src/public/favicon/restaurant.png" type="image/x-icon" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header>
      <app-bar></app-bar>
    </header>

    <div class="container" id="jumbotron"></div>
    <main id="content">
      <h2>Explore Restaurant</h2>
      <!-- <style>
        #menu-restaurant {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
        }
        #menu-restaurant p {
          font-size: 18px;
          padding: 6px;
          max-width: 120px;
          box-shadow: 0 8px 10px 0px rgba(63, 62, 62, 0.2);
        }
      </style> -->
      <!-- <div class="" id="menu-restaurant">
        <div class="menu" id="menu-drinks">
          <p>jus jeruk</p>
          <p>jus jeruk</p>
          <p>jus jeruk</p>
          <p>jus jeruk</p>
        </div>
        <div class="menu" id="menu-foods">
          <p>oper ayam</p>
          <p>oper ayam</p>
          <p>oper ayam</p>
          <p>oper ayam</p>
        </div>
      </div> -->
    </main>

    <footer class="footer">
      <p class="footer copyright">
        Copyright &copy;
        <script>
          document.writeln(new Date().getFullYear() + '-Hunger Apps');
        </script>
      </p>
    </footer>
  </body>
</html>
