@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}

body {
  background-color: #efefef;
  font-family: 'Nunito', sans-serif;
}

.app-bar {
  padding: 12px 10%;
  color: white;
  background-color: #d2001a;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: -4px -3px 45px 21px rgba(15, 6, 6, 0.35);
}
#drawer {
  padding: 4px 0;
}
#drawer ul li {
  display: inline;
  margin: 4px 10px 0;
}

#drawer li a {
  color: white;
  font-size: 17px;
  text-decoration-line: none;
}

#drawer li a:hover {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 0px;
  font-weight: bold;
  color: black;
}
#hamburger {
  font-size: 28px;
  width: 44px;
  height: 44px;
  padding-left: 9px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: none;
}
div#jumbotron {
  margin-top: 0;
  /* width: 100%; */
  height: 420px;
  background-image: url('../public/images/hero-image_2.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  padding: 0 10%;
}
main h2 {
  padding: 20px 10vh;
  text-align: center;
  font-weight: bold;
}
/* menggunakna flex / grip () */
/* ketika grid ditetapkan pada wrapper atau container,
seluruh elemen yang berada di dalamnya secara langsung
merupakan grid item. Namun, kita tidak melihat perubahannya
karena kita belum mengatur akan seperti apa grid item ditampilkan. */

*.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
/* item */
*.wrapper .card {
  box-shadow: 0 8px 10px 0px rgba(63, 62, 62, 0.2);
}
div.card.menu-content {
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffde00;
  border-radius: 8px;
  position: relative;
}
div.card .card-body {
  margin-top: -15px;
  padding: 0 10px;
  background-color: white;
}
div.card img {
  width: 100%;
  height: 250px;
}
div.card h5 {
  font-weight: bold;
  font-size: 20px;
  margin: 8px 0;
}
div.card p {
  text-align: justify;
  padding-bottom: 8px;
  text-indent: 12px;
}

div.card .ribbon {
  position: absolute;
  background-color: #ffde00;
  padding: 5px 6px;
  font-size: 16px;
  top: 10px;
  left: 4px;
  border-radius: 5px;
}

div.card .rating {
  border-radius: 5px;
  border: none;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
  color: #fff;
}
#menu-restaurant {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
#menu-restaurant p {
  font-size: 18px;
  padding: 6px;
  margin: 0 6px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 10px 0px rgba(63, 62, 62, 0.2);
  display: inline-block;
}
.customer-review {
  box-shadow: 0 8px 10px 0px rgba(63, 62, 62, 0.2);
  padding: 8px;
  width: 520px;
  margin: 8px auto 0;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

footer {
  margin-top: 10vh;
  padding: 18px 0;
  color: white;
  display: flex;
  background-color: #d2001a;
  justify-content: center;
}
/* detail restaurant */
#detail-restaurant {
  box-shadow: 0 8px 10px 0px rgba(63, 62, 62, 0.2);
  margin: 0 auto;
  background-color: chartreuse;
  width: 90vh;
}

#detail-restaurant .restaurant_poster {
  width: 100%;
  border-radius: 5px;
}
#detail-restaurant .restaurant_info {
}
/*Loader*/
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid rgb(230, 224, 224);
  border-radius: 50%;
  border-top: 16px solid #e70523;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Add animation to "page content" */
#content {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#review-input {
  width: 520px;
  background-color: rgb(255, 40, 40);
  margin: 10px auto;
  padding: 10px 15px;
  border-radius: 5px;
}
#review-input > h3 {
  text-align: center;
}
.input-review {
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 8px 4px;
  font-weight: normal;
  margin: 10px 0;
  width: 99%;
  background-color: rgb(238, 237, 237);
  box-shadow: -4px -3px 45px 21px rgba(228, 228, 228, 0.35);
}
.input-review:focus {
  border: none;
}
#send-review {
  background-color: rgb(236, 206, 206);
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
}
#send-review:hover {
  background-color: rgb(247, 151, 151);
}

@media (max-width: 950px) {
  body {
    background-color: #013dc9;
  }
  main {
    padding: 0 2%;
  }
  div.card img {
    height: 200px;
  }
  /* div.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 23rem;
    max-height: 20rem;
  } */
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    /* background-color: rgb(5, 94, 39); */
  }
  .app-bar {
    padding: 12px 1%;
  }
  main {
    padding: 0 4px;
  }

  #drawer li a {
    color: white;
    font-size: 15px;
  }

  *.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
  }

  div.card img {
    /* width: 150px; */
    height: 150px;
  }
  div.card h5 {
    font-size: 16px;
  }
  div.card p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(155, 30, 30);
  }
  .app-bar {
    padding: 10px 4px;
  }
  main {
    padding: 0 10px;
  }
  #drawer {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 53px;
    right: 1px;

    /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
    transform: translate(130px, 0);
    transition: transform 0.9s ease-in-out;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: none;
  }
  #drawer ul li {
    margin: 8px 16px 0;
  }
  #drawer li a {
    color: black;
  }
  #drawer.open {
    transform: translate(0, 0);
  }
  #hamburger {
    display: inline;
  }
  div#jumbotron {
    height: 250px;
  }
  *.wrapper {
    grid-template-columns: repeat(1, 0.99fr);
    justify-content: center;
  }
  div.card.menu-content {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
  }
  div.card img {
    height: 170px;
  }
  div.card h5 {
    font-size: 16px;
  }
  div.card p {
    font-size: 13px;
  }

  div.card .ribbon {
    width: 4rem;
    padding: 4px 3px;
    font-size: 14px;
    text-align: center;
  }

  div.card .rating {
    font-size: 12px;
  }
  #review-input {
    width: 400px;
  }
}
